// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ask {
  background-color: #3479B7;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
}
